* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.container-fluid--fixed {
	max-width: $max-width;
}

.row {
	&--reverse {
		flex-direction: row-reverse;
	}
}
