.media {
	display: table;
	margin-bottom: 10rem;

	&__content {
		display: table-cell;
		vertical-align: top;
		line-height: 1;
	}

	&__icon {
		width: 4.2rem;
		height: 4.2rem;
		margin-right: 4.5rem;
	}

	&__title {
		font-size: 2.4rem;
		font-weight: 600;
		color: $dark-blue;
		display: inline-block;
		margin-bottom: 1.5rem;
	}

	&__desc {
		color: $dark-grey;
		margin: 0;
		font-weight: lighter;
		line-height: 1.6;
	}
}

.media--vertical {
	display: block;
	text-align: center;
	margin-bottom: 5rem;

	.media__icon {
		margin: 0;
		margin-bottom: 1.5rem;
	}

	.media__content {
		display: block;
	}
}
