.footer {
	border-top: 1px solid #ecf1f5;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 60px;

	&__info {
		display: flex;
	}

	&__info-section {
		margin-left: 60px;
		font-size: 15px;
		font-weight: 300;
		color: rgb(117, 117, 117);

		&__title {
			line-height: 1.2;
			text-transform: uppercase;
		}

		&__nav {
			margin: 10px 0 0;
			padding: 0;
			list-style: none;
			line-height: 2;
		}
	}
}
