.header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: transparent;

	&__container {
		position: relative;
		padding-top: 3.5rem;

		&__logo {
			position: absolute;
			top: 25px;
			left: 2rem;
		}
	}
}

.header--transparent {
	.nav {
		&__item {
			color: $black;

			&--btn {
				background-color: $purple-2;
				color: $white;
			}
		}

		.btn {
			font-size: 1.6rem;
		}
	}
}

.nav {
	display: flex;
	justify-content: flex-end;

	&__item {
		text-transform: uppercase;
		text-decoration: none;
		color: $white;
		padding: 15px 25px;

		&--login {
			padding-left: 5rem;
			position: relative;

			&::before {
				content: ' ';
				display: block;
				width: 1px;
				height: 2rem;
				background: #9290D6;
				position: absolute;
				left: 3rem;
			}
		}

		&--btn {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}
