@keyframes navactive {
	0% {
		color: #08f6ff;
	}

	50% {
		color: #c847e4;
	}

	100% {
		color: #e73232;
	}
}

@-webkit-keyframes navactive {
	0% {
		color: #08f6ff;
	}

	50% {
		color: #c847e4;
	}

	100% {
		color: #e73232;
	}
}

@-o-keyframes navactive {
	0% {
		color: #08f6ff;
	}

	50% {
		color: #c847e4;
	}

	100% {
		color: #e73232;
	}
}

@-moz-keyframes navactive {
	0% {
		color: #08f6ff;
	}

	50% {
		color: #c847e4;
	}

	100% {
		color: #e73232;
	}
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: transparent;

	&__container {
		position: relative;
		padding-top: 3.5rem;

		&__logo {
			position: absolute;
			top: 25px;
			left: 2rem;
		}
	}
}

.header--transparent {
	.nav {
		&__item {
			color: $black;

			&--btn {
				background-color: $purple-2;
				color: $white;
			}
		}
	}
}

.nav {
	display: flex;
	justify-content: flex-end;

	&__item-container {
		display: inline-flex;
		justify-content: flex-end;
		position: relative;
	}

	&__item {
		text-transform: uppercase;
		text-decoration: none;
		color: $white;
		padding: 15px 25px;
		font-size: 1.4rem;
		transition: color 0.3s ease;

		&:hover, &--active {
			animation-name: navactive;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-duration: 1s;
			animation-direction: alternate;
		}

		&--login {
			padding-left: 5rem;
			position: relative;

			&::before {
				content: ' ';
				display: block;
				width: 1px;
				height: 2rem;
				background: #9290D6;
				position: absolute;
				left: 1.5rem;
			}
		}

		&--btn {
			background: rgba(255, 255, 255, 0.2);
		}
	}
}
