.product {
	&__elements {
		&__intro {
			text-align: center;
			padding-top: 10rem;
			padding-bottom: 5rem;
		}
		&__title {
			font-size: $sub-title;
			color: $dark-blue;
			margin: 0;
		}
		&__desc {
			margin-top: 1rem;
			color: $dark-grey;
		}
	}
}
